TEAM_ID=

PRODUCT_NAME=BaseAppCMP
PRODUCT_BUNDLE_IDENTIFIER=com.brainx.cmp_base.BaseAppCMP$(TEAM_ID)

CURRENT_PROJECT_VERSION=1
MARKETING_VERSION=1.0

TMDB_API_KEY=f45e86744eeafcb6af043c7d57f55308
TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJmNDVlODY3NDRlZWFmY2I2YWYwNDNjN2Q1N2Y1NTMwOCIsIm5iZiI6MTc1MDAyODYyOS43Miwic3ViIjoiNjg0ZjUxNTU1MTE2MTM3MjUzM2ZlODMwIiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.UaBGkear32uHG9Ko8dT9qCy9fAHyQOc15qXmZD3f4fA